* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: rgba(215, 245, 235, 0.726);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  padding: 20px 35px;
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
  justify-content: space-between;
  top: 0%;
}

header h1 {
  font-size: 35px;
  color: green;
  margin: 0;
  font-weight: bolder;
  text-shadow: 0 0 10px rgb(3, 248, 3);
}

header nav {
  margin: 5px 0;
}

header nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

header nav ul li {
  padding: 10px 15px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

header a:hover {
  color: darkorange;
}

section {
  padding: 60px;
}

.section-Title {
  padding: 80px;
  background-image: url('../images/blockchain.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
}

.section-Title h2 {
  font-size: 50px;
  align-content: center;
  color: chartreuse;
  font: bold;
  background: none;
  text-shadow: 5px 5px 5px black;
}
.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.about h2 {
  font-size: 35px;
}
.about {
  display: flex;
  justify-content: flex-end; 
  margin: 0 auto 0 auto;
  padding-right: 60px;
  width: 15%;
  text-align: end;
  border-right: black solid 5px;
  height: 100px;
  
}
.info {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
margin: 0 auto 0 auto;
width: 85%;
padding-left: 10px;
}
.work-title h2 {
  font-size: 35px;
}
.work-title {
  display: flex;
  flex-wrap: wrap;
  font-size: 35px;
  justify-content: flex-end;
  margin: 0 auto 0 auto;
  text-align: end;
  width: 10%;
  padding-right: 15px;
  height: 1250px;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto 0 auto;
  width: 90%;
  border-left: black solid 5px;
}
.flex p {
  display: inline-block;
  text-align: start;
  width: 45%;
  position: absolute;
  bottom: 10%;
  left: 0%;
  opacity: 85%;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0 auto;
  flex-direction: row;
  width: 100%;
  height: 650px;
}
.surf-report {
  background-image: url("../images/Horiseon.png");
  background-size: cover;
  width: 100%;
  height: 600px;
  margin: 0 1% 2% 1%;
  position: relative;
}